/* 클릭하면 로그인 창 */
.back_pan {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}
.login_pan {
    width: 400px;
    height: 507px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;

    position: relative;
}
.login_close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../img/page4/close_btn.png) no-repeat center /cover;
     
    position: absolute;
    top: 15px;
    right: 20px;
}
.login_title{
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.top_login_box{
    width: 100%;
    height: 230px;
    border-bottom: 1px solid #999 ;
}
.lo_txt_box{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.login_btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background: #353535;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}
.no_family_btn{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background: #bbbbbb;
    margin-top: 5px;
    color: #fff;
    cursor: pointer;
}
.login_btn:hover{background: #000;}
.no_family_btn:hover{background: #777;}
.btn_login_box{
    width: 100%;
    height: 150px;
    margin-top: 10px;
}
.btn_login_box > ul{
    width: 100%;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    margin: 30px 0;
    cursor: pointer;
}
.login_li{
    width: calc(100% / 3);
    text-align: center;
    float: left;
}
.login_li:hover{color: #888;}
.login_li:nth-of-type(2){
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    box-sizing: border-box;
}
.btn_login{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
}
.naver{background:#00c73c;}
.kakao{
    background: #ffeb00;
    color: #000;}
.naver:hover{background: #01af36;}
.kakao:hover{background: #d6c500;}

.top_big_banner{
    width: 100%;
    height: 700px;
    background: url(../../img/page2/main_banner.jpg) no-repeat center /cover;
}
.contents{
    width: 100%;
    max-width: 1260px;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'google1';
}
/* 타이틀 */
.title{
    width: 100%;
    height: 100px;
    margin-top: 80px;
}
.title_line{
    width: 200px;
    height: 5px;
    background: #999;
    margin: 0 auto;
}
.title_line + h2{
    width: 100%;
    height: 25px;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
} 
/* 상단 박스 */
.top_box{
    width: 100%;
    height: 300px;
    margin-top: 80px;
}
.top_lef_box{
    width: calc(100% /2 - 0.01px);
    height: 100%;
    border-right: 5px solid #dbdada;
    box-sizing: border-box;
    float: left;

    position: relative;
}
.top_lef_logo{
    width: 259px ;
    height: 68px;
    font-size: 68px;
    font-weight: 700;
    line-height: 68px;

    position: absolute;
    top: 40%;
    left: 50%;

    transform: translateX(-50%);
}
.top_rig_txt{
    width: calc(100% / 2 - 0.01px);
    height: 100%;
    float: right;
    padding: 20px 0 20px 60px;
    box-sizing: border-box;

    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
   
}
.rig_txt1{
    width: 100%;
    margin-bottom: 20px;
}
.rig_txt_p
{
    width: 100%;
    font-size: 15px;
    margin-bottom: 4px;
}
/* ahout_us */
.mid_box{
    width: 100%;
    height: 100vh;
    max-height: 800px;
    margin-top: 200px;
}
.mid_left_box{
    width: calc(100% - 55% - 0.01px);
    height: 100%;
    float: left;

    position: relative;

    transform: translateX(-200px);
    transition: all 1s;
    opacity: 0.5;
}
.mid_left_txt{
    width: 60%;
    height: 300px;
    
    position: absolute;
    top: 60%;
    right: 0;

    transform: translateY(-50%);
}
.mid_left_txt > h2{
    width: 100%;
    height: 30px;
    font-size: 26px;
    font-weight: 600;
}
.mid_line{
    width:100%;
    height: 5px;
    background-color: #dbdada ;
    margin: 5px 0 20px 0;
}
.mid_about_txt{
    width: 100%;
    height: 160px;
    font-size: 18px;
    line-height: 22px;
}
.mid_btn{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;

    animation: btn 1s ease infinite;
}

@keyframes btn {
    0%{color: #000;}
    100%{color: #999;}
}
.mid_rig_box{
    width: calc(100% - 45% - 0.01px);
    height: 100%;
    background: url(../../img/page2/top_img.jpg) no-repeat center / cover;
    float: right;

    transform: translateX(200px);
    transition: all 1s;
    opacity: 0.5;
}
/* 컬렉션 박스 */
.bot_box{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    max-height: 800px;
}
.bot_lef_box{
    width: calc(100% - 45% - 0.01px);
    height: 100%;
    background: url(../../img/page2/bot_img.jpg) no-repeat center / cover;
    float: left;

    transform: translateX(-200px);
    transition: all 1s;
    opacity: 0.5;
}
.bot_rig_box{
    width: calc(100% - 55% - 0.01px);
    height: 100%;
    float: right;

    position: relative;

    transform: translateX(200px);
    transition: all 1s;
    opacity: 0.5;
}
.bot_rig_txt{
    width: 60%;
    height: 300px;
    
    position: absolute;
    top: 60%;
    left: 0;

    transform: translateY(-50%);
}
.bot_rig_txt > h2{
    width: 100%;
    height: 30px;
    font-size: 26px;
    font-weight: 600;
    text-align: right;
}
.bot_line{
    width:100%;
    height: 5px;
    background-color: #dbdada ;
    margin: 5px 0 20px 0;
}
.bot_txt{
    width: 100%;
    height: 160px;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
}
.bot_btn{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    right: 0;

    animation: btn 1s ease infinite;
}
/* 마지막 박스 */
.page2_last_box{
    width: 100%;
    height: 450px;
    margin-top: 200px;
    margin-bottom: 200px;
    background: #dbdada;
    padding: 10px 0;
    box-sizing: border-box;
}
.last_inner{
    width: 100%;
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
}
.last_txt{
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    float: left;
    margin-top: 20px;
}
.last_line{
    width: 40px;
    height: 5px;
    background:#555;
    margin: 20px 0;
}
.last_img{
    width: calc(100% - 220px);
    height: 100%;
    float: right;
    padding: 20px 0;
    box-sizing: border-box;
}
.hov_box{
    width: calc((100% - 40px) / 3);
    height: 100%;
    float: left;
    overflow: hidden;
}
.hov_box:nth-of-type(2){margin: 0 20px;}
.clo_img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s;
    cursor: pointer;
}
.clo_img:hover{
    transform: scale(1.1);
}
.last1{background: url(../../img/page2/last_img1.jpg) no-repeat center /cover;}
.last2{background: url(../../img/page2/last_img2.jpg) no-repeat center /cover;}
.last3{background: url(../../img/page2/last_img3.jpg) no-repeat center /cover;}


@media screen and (min-width: 769px) and (max-width: 1024px){
    .top_big_banner{
        width: 100%;
        height: 600px;
        background: url(../../img/page2/mini_main_banner.jpg) no-repeat center /cover;
    }
   .top_box{
       width: 90%;
       height: 335px;
       margin: 0 auto;
   }
    .top_rig_txt{
        width: calc(100% /2);
        height: 100%;
        float: right;
        font-size: 15px;
        padding: 20px 0 20px  40px;
        box-sizing: border-box;
    }
    .page2_last_box{
        margin-bottom: 150px;
    }
    .last_inner{
        width: 90%;
        max-width: 1260px;
        height: 100%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px){
    .top_big_banner{
        width: 100%;
        height: 400px;
        background: url(../../img/page2/mini_main_banner2.jpg) no-repeat center /cover;
    }
    .top_box{
        width: 90%;
        height: 450px;
        margin: 0 auto;
    }
    .top_lef_logo{
        width: 150px;
        height: 34px;
        font-size: 34px;
        font-weight: 700;
        line-height: 34px;
    
        position: absolute;
        top: 40%;
        left: 50%;
    
        transform: translateX(-50%);
    }
    .top_rig_txt{
        padding: 20px 0 20px 40px;
        font-size: 15px;
        overflow: hidden;
    }
    .rig_txt_p
    {
        font-size: 14px;
    }

    /* about us */
    .mid_box,
    .bot_box{
        margin-top: 150px;
    }
    .mid_left_box,
    .bot_lef_box{
        width: calc(100% - 50%);
    }
    .mid_rig_box,
    .bot_rig_box{
        width: calc(100% - 50%);
    }
    .mid_left_txt,
    .bot_rig_txt{
        width: 80%;
    }
    /*컬렉션 박스  */
    .bot_txt,
    .mid_about_txt{
        width: 100%;
        height: 160px;
        font-size: 14px;
        line-height: 22px;
    }
    .bot_btn,
    .mid_btn{
        width: 100px;
        font-size: 12px;
    }
    /* 마지막 박스 */
    .page2_last_box{
        width: 100%;
        height: 440px;
        margin-top: 200px;
        margin-bottom: 200px;
        background: #dbdada;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .last_txt{
        width: 200px;
        font-size: 14px;
        margin-left: 10px;
    }
    .last_img{
        width: 100%;
        height:300px;
        float: right;
        padding: 20px 10px;
        box-sizing: border-box;
    }
}