/* 메인배너 */
.main_banner{
    width: 100%;
    height: 150px;
    background: url(../../img/page3/main_banner.jpg) no-repeat bottom / cover;
    margin-bottom: 80px;

    position: relative;
}
.main_banner > h1{
    width: 100%;
    height: 44px;
    font-size: 38px;
    text-align: center;
    color: #333333;

    position: absolute;
    top: 50px ;
    animation: text_move  2s ease normal;
}

@keyframes text_move{
    0%{opacity: 0.3; top:10px; }
    25%{opacity: 1; top:65px; }
    50%{opacity: 1; top:40px; }
    100%{opacity: 1; top:50px; }
}    
.contents{
    width: 1050px;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'gmar_light';
}
/* 클릭하면 이동 */
.click_box{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.click{
    width: calc((100% - 4px) / 3 - 0.01px);
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    background: #999;
    color: #fff;
    float: left;
    cursor: pointer;
}
.page3_1,
.page3_2,
.page3_3{
    background: #23507b;
    color: #fff;
}
.click:hover{
    background: #23507b;
    color: #fff;
}
.click:nth-of-type(2){
    margin: 0 2px;
}
/* 설명 박스 */
.text_box{
    width: 100%;
    height: 170px;
    margin-top: 50px;
    margin: 0 auto; 
}
.left_icon_box{
    width: 100px;
    height: 100%;
    float: left;
}
.text_icon{
    width: 100px;
    height: 100px;
    background: url(../../img/page3/com_icon.png) no-repeat center /cover;
}
.right_text{
    width: calc(100% - 100px);
    height: 100%;
    padding: 28px 0;
    box-sizing: border-box; 

}
.right_text >h3,
.right_text_online > h3{
    width: 100%;
    height: 23px;
    font-size: 23px;
    margin-bottom: 15px;                                     
}
.ri_text_p{
    width: 100%;
    height: 25px;
    font-size: 14px;
}
/* input box */
.input_box{
    width: 100%;
    height: 400px;

    position: relative;
}
.inp_box{
    width: 100%;
    height: 70px;
    border-top: 1px solid #dbdada;
    box-sizing: border-box;
}
.inp_box2{
    width: 100%;
    height: 100px;
    border-top: 1px solid #dbdada;
    border-bottom: 1px solid #dbdada;
    box-sizing: border-box;
}
.inp_left_text{
    width: calc(100% - 70%);
    height: 100%;
    font-size: 15px;
    line-height: 70px;
    padding-left: 20px;
    box-sizing: border-box;
    float: left;
    border-right: 1px solid #dbdada;
}
.inp_rig{
    width: calc(100% - 30%);
    height: 100%;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
}
.inp_text{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #dbdada;
}
.inp_text2{
    width: 300px;
    height: 32px;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #dbdada;
}
#inp_text3{
    width: 100%;
    height: 100%;
    border: 1px solid #dbdada;
}
/* 상담신청 버튼 */
.sum_btn{
    width: 200px;
    height: 60px;
    font-size: 20px;
    background: #23507b;
    color: #fff;
    outline: 0;
    border: none;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
}
.sum_btn:hover{
    background:#497fb3;
}
.last_box{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom:150px;
}
.last_box >h2{
    width: 100%;
    height: 28px;
    font-size: 23px;
    margin-bottom: 10px;
    
}
.last_p{
    width: 100%;
    height: 150px;
    font-size: 16px;
    background: #f8f8f8;
    padding: 43px 10px;
    box-sizing: border-box;
}
.last_p > p{
    width: 100%;
    height: 23px;
}

/* page 3_3 */
.contents_box{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}
.inner_con{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
.left_icon{
    width: 100px;
    height: 100px;
    float: left;
}
.booking_icon1{background: url(../../img/page3/booking_img01.png);}
.booking_icon2{background: url(../../img/page3/booking_img02.png);}
.booking_icon3{background: url(../../img/page3/booking_img03.png);}
.con_txt{
    width: calc(100% - 100px);
    height: 100%;
    float: left;
    margin-top: 20px;
}
.con_txt > h2{
    font-size: 25px;
    margin-bottom: 15px;
}
.con_txt_p{
    font-size: 15px;
    margin-bottom: 8px;
}

/* page_4 */
.banner_img{
    width: 100%;
    height: 400px;
    background: url(../../img/page4/banner_img.jpg) no-repeat center /cover;
    margin-bottom: 20px;
}
.banner_text_box{
    width: 100%;
    height: 250px;
    font-family: 'gmar_light';
}
.text_box1,
.text_box2{
    width: calc((100% - 30px) / 2);
    height: 90px;
    float: left;
    margin-right: 20px;
    font-size: 15px;
    color: #666;
    line-height: 20px;
}
.text_box2{
    margin-right: 0px;
}
.text_box2 + p{
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
/* page_4_2 */
.jo_box{
    width: 100%;
    height: 500px;
    background: url(../../img/page4/jo_box.png)no-repeat center /cover;
    margin-top: 100px;
    margin-bottom: 200px;
}