body{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.contents_area{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
/* ============================= */
.top_banner{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #3b4890;
    color: #fff;
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}
.tb_txt{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
/* ==================================== */
#wrap{
    margin-top: 40px;
    overflow: hidden;
}
.header{
    height: 50px;
    display: flex;
    align-items: center;
    background: #fff;
}
.logo{
    width: 180px;
    height: 40px;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logomak_logo.png) no-repeat center/ contain;
}
.search_box{
    width: 400px;
    height: 30px;
    border: 3px solid #3b4890;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #3b4890;
    padding: 0 2px;
}
#search_txt{
    width: calc(100% - 120px);
    height: calc(100% - 3px);
    border: none;
    outline: none;
    padding: 0 5px;
    border-radius: 3px;
}
.search_icon{
    width: 110px;
    padding: 0 5px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
/* ================================ */
.nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #3b4890;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.nav > .contents_area{
    display: flex;
    gap: 20px;
}
.nav_item{
    height: 100%;
}
.nav_item a{
    display: block;
    width: 100%;
    height: 100%;
}
/* ========================================= */
.footer{
    width: 100%;
    height: 300px;
    background: #2a3261;
    position: relative;
}
.goto{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    background-color: #3b4890;
    position: absolute;
    bottom: 0;
    left: 0;
}
.goto a{
    display: block;
    width: 100%;
    height: 100%;
}
.goto a:hover{
    text-decoration: underline;
}