.wrap {
    width: 100%;
    overflow: hidden;
    font-family: 'NotoSansKR-Regular-Alphabetic';
}
@font-face {
    font-family: 'NotoSansKR-Regular-Alphabetic';
    src: url('../../font/NotoSansKR-Regular-Alphabetic.eot');
    src: url('../../font/NotoSansKR-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
         url('../../font/NotoSansKR-Regular-Alphabetic.ttf') format('truetype'),
         url('../../font/NotoSansKR-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.header {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header_box {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
.s_logo {
    width: 130px;
    height: 100%;
    float: left;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    background: url(../../img/xbox_img/RE1Mu3b.png)no-repeat center / contain;
}
.line {
    width: 2px;
    height: 30px;
    float: left;
    margin: 15px 20px 0 20px;
    background: #000;
}
.logo {
    width: 130px;
    height: 100%;
    float: left;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    background: url(../../img/xbox_img/RW4ESm.png)no-repeat center / contain;
}
.logo > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}
.nav {
    width: 880px;
    height: 100%;
    /* background: gold; */
    float: left;
    margin-left: 10px;
}
.nav > ul {
    width: 60%;
    height: 100%;
}
.nav > ul > li {
    width: calc(100% / 5);
    height: 100%;
    float: left;
    text-align: center;
    /* background: gray; */
    line-height: 60px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}
.login_box {
    width: 400px;
    height: 100%;
    /* background: indianred; */
    float: left;
}
.micro {
    width: 126px;
    height: 100%;
    float: left;
    line-height: 60px;
}
.seach {
    width: 100px;
    height: 100%;
    float: left;
}
.seach > a {
    line-height: 60px;
    float: left;
}
.seach_icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 20px;
    background: url(../../img/xbox_img/seach_icon.jpg) no-repeat center / contain;
}
.login {
    width: 100px;
    height: 100%;
    float: left;
}
.login > a {
    line-height: 60px;
    float: left;
}
.login_icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 15px;
    background: url(../../img/xbox_img/login_icon.jpg)no-repeat center / contain;
}
.nav > ul > li:hover > a,
.micro:hover > a {
    border-bottom: 2px solid;
}

.footer {
    width: 100%;
    height: 228px;
    background: #f2f2f2;

}
.footer_box1 {
    width: 1600px;
    height: 156px;
    margin: 0 auto;
    background: #f2f2f2;
    padding-top: 10px;
    box-sizing: border-box;
    color: #616161;
}
.footer_box1 > p {
    font-size: 15px;
    margin: 20px 0;
}
.footer_box2 {
    width: 1600px;
    height: 72px;
    margin: 0 auto;
    background: #f2f2f2;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 15px;
    color: #616161;
}
.box2_txt1 {
    float: left;
}
.box2_txt2 {
    width: 630px;
    height: 20px;
    float: right;
}
.box2_txt2 > ul {
    height: 100%;
}
.box2_txt2 > ul > li {
    margin-left: 10px;
    height: 100%;
    float: left;
}