@font-face {
  font-family: 'mn';
  src: url('mn.eot');
  src: url('mn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: ,
       ;
  font-weight: normal;
  font-style: normal;
}

