/* //////main_sec //////////*/
.main_sec{
    background-color: aliceblue;
    /* height: 100vh; */

    padding: 86px 0;
}
.main_box{
    /* padding-top: 86px; */
    overflow: hidden;
    height: calc(100vh - 80px);
}
.sec{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.sec1{
    left: 0;
}
.sec2{
    left: 100%;
}
.sec3{
    left: 100%;
}
.sec4{
    left: 100%;
}

.menu_title_E{
    font-size: 53px;
    font-weight: 900;
}
.menu_title_K{
    font-size: 21px;
    font-weight: 600;
}

.m_img{
    /* margin: 100px 0; */
    margin: 66px;
    width: 450px;
}
.menu_title_SK{
    font-size: 17px;
    line-height: 35px;
    color: #525252;
    font-weight: 600;

    /* max-width: 1004px; */
    max-width: 925px;
    /* height: 100%; */
    /* background-color: aqua; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* .m_img2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
} */
.BTN{
    cursor: pointer;
}
.BTN_L{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.BTN_R{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.F_detail{
    text-align: center;
    /* margin-top: 190px; */
}



/*////// F_detail ////////*/
.F_detail{
    text-align: center;
    /* margin-top: 190px; */
}
.F_detail h3{
    font-size: 27px;
}

table{
    margin: 0 auto;
    padding: 30px 100px;
    border: 3px double;
}

.t_sec{
    padding-right: 20px;
}
.t_sec2{
    padding-top: 20px;
    padding-right: 20px;
}
td:last-child{padding-right: 0;}

footer {
    width: 100%;
    margin-top: 0;
    background-color: #d1cfcf;
}