.login_box{
    width: 400px;
    margin: 0 auto;
    margin-top: 8%;
    border: 1px solid rgba(0, 0, 0, .16);
    padding: 35px;
    border-radius: 19px;
}

.logtin_tilte{
    width: 100%;
    text-align: center;
    height: 30px;
}

.log_subit{
    margin: 0 auto  ;
    font-size: 30px;
}

.select_login{
    margin-top: 10%;
    width: 100%;
}

.select_login > li > a{
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.kakao > a{
    background: #ffde00;
}
.naver > a{
    background: #00c73c;
}
.apple > a{
    background: #000;
    color: #fff;
}

.goolge > a{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .16);
}