.container_travel{
    width: 80%;
    margin: 0 auto;
    height: 900px;
    display: flex;

    padding-top: 50px
}


/* 왼쪽 아이텐 */
.left_item{
    width: 30%;
}

.right_item{
    padding-left: 20px;
    width: 70%;
}

.map_view{
    width: 100%;
    height: 130px;
    border-radius: 15px;
    background: url(../img/지도.png);
    position: relative;
}

.map_view > a > div{
    width: 50%;
    height: 25%;
    margin: 0 auto;
    background: rgb(18 115 228);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}


.select_div{
    padding-top: 30px;
}

.select_type{
    font-size: 20px;
}

.select_circle{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.select_circle_active{
    border: 1px solid  #3b8adb;
    background-color:  #3b8adb;
}
.select_type > a > li {
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 달력부분 */
.travel_search_box{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #706c6c;
    width: 60%;
}
.travel_search_input{
    text-align: center;
    width: 60%;
}

.travel_search_input{
    display: block;
    width: 100%;
}

.search_form_btn{
    width: 5vw;
    height: 4vh;
    background: #3b8adb;
    color: white;
    font-size: 18px;
}

.border_15px{
    border-radius: 15px;
}

.travel_search_input_box{
    width: 100%;
}

.detail_chk_peoples{
    width: 100%;
    height: 4vh;
    background: #fff;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.detail_serach_common{
    width: 60%;
    margin: 0 auto;
}

.input_none{
    border-width: 0;
}

.detail_chk_person{
    display: flex;
    justify-content: space-between;
}

.detail_search_ul{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    border-radius: 15px;
}

.font_18px{
    font-size: 18px;
}

/* 오른쪽 */
.house_title{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}



.house_box{
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #cbc5c5;
}
.house_box > a{
    width: 100%;
    height: 100%;
}

.hous_img_Box{
    width: 45%;
    min-width: 230px;
    height: 100%;
    border: 1px solid #00000000;
    border-radius: 15%;
}

.hous_img_Box > img{
    width: 100%;
    height: 100%;
}


.house_box_a_div{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}



.description_box{
    position: relative;
    width: 55%;
    height: 100%;
}

.house_type{
    color: #000000a8;
    font-size: 14px;
}

.house_start{
    padding: 3px;
    background: rgb(253, 173, 10);
    border: 1px solid #cbc5c5;
    border-radius: 15px;
}
.house_address{
    color: rgb(153 153 153);
}

.house_prices{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
}