*{padding: 0; margin: 0;}
html,body{
    height: 100%;
}
a{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}
#wrap{
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 125px;
    background: #fff;
}
#top_div{
    position: relative;
    z-index: 9;
    width: 100%;
    height: 50px;
}
#top_div > .top_ul01{
    position: absolute;
    left: 306px;
    bottom: 0px;
    list-style: none;
    overflow: hidden;
}
.top_ul01 > li{
    float: left;
    padding: 10px 5px;
    font-size: 13px;
    color: #848484;
}
#top_div > .top_ul02{
    position: absolute;
    right: 206px;
    bottom: 0px;
    list-style: none;
    overflow: hidden;
}
.top_ul02 > li{
    float: left;
    padding: 10px 10px;
    font-size: 13px;
    color: #848484;
}
.top_ul02 > li:nth-child(odd):hover{
    color: #000;
    cursor: pointer;
}
.top_ul02 > li:nth-of-type(6) > select{
    outline: none;
    padding: 0px 15px;
    color: #848484;
    cursor: pointer;
}
#nav_bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 430px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9; 
    display: none;
}
nav{
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-bottom: 1px solid #d9d9d9; 
}
nav >  #logo{
    position: absolute;
    left: 300px;
    bottom: -16px;
    width: 200px;
    height: 100px;
    background: url('../img/logo.png') no-repeat center;
}
nav > .nav_ul{
    position: absolute;
    right: 300px;
    top: 0;
    list-style: none;
}
.nav_ul > .nav_li{
    width: 200px;
    height: 100%;
    float: left;
    text-align: center;
    color: #202023;
}
.nav_ul > .nav_li > span:hover{
    border-bottom: 3px solid #000;
    cursor: pointer;
}
.fixed{
    position: fixed;
    left: 0;
    top: 0;
}
.nav_ul > .nav_li > .nav_inside{
    list-style: none;
    width: 100%;
    height: 300px;
    display: none;
}
.nav_ul:hover > .nav_li > .nav_inside{
    display: block;
}
.nav_ul > .nav_li > .nav_inside > li > a{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #a4a4a5;
    cursor: pointer;
}
.nav_ul > .nav_li > .nav_inside > li > a:hover{
    color: #000;
}
section{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#img_box{
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    height: 700px;
    background:  url('../img/main_menu.jpg') no-repeat center;
    background-size: 110%; 
    text-align: center;
}
#img_box > h1{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50% , -50%);
    font-size: 58px;
    font-weight: lighter;
    color: #202023;
}
#img_box  > #img_box_p{
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50% , -50%);
    color: #202023;
}
#img_box  >  #img_box_p > span{ 
    font-size: 38px;
}
#img_box  >  #img_box_p > span:nth-of-type(2){
    display: block;
    margin-top: 30px; 
    font-size: 18px;
}
#img_box > #line_box{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50% , -50%);
    width: 750px;
    height: 40px;
    line-height: 40px;
}
#line_box > #line_box_ul{
    list-style: none;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
#line_box_ul > li > a{
    float: left;
    width: calc(100% / 4);
    border: 1px solid #98989e;
    box-sizing: border-box;
    color: #84847c;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
#line_box_ul > li > a:hover{
    background: #84847c;
    color: #fff;
}
#sec_box{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#sec_box > .sec{
    width: 100%;
    overflow: hidden;
}
#sec01{
    position: relative;
    background: url('../img/main_menu01.jpg') no-repeat center;
    background-size: 115%; 
}
#sec02{
    position: relative;
    background: url('../img/main_menu02.jpg') no-repeat center;
    background-size: 115%; 
}
#sec03{
    position: relative;
    background: url('../img/main_menu03.jpg') no-repeat center;
    background-size: 115%; 
}
#sec04{
    position: relative;
    background: url('../img/main_menu04.jpg') no-repeat center;
    background-size: 115%; 
}

.main_box{
    position: absolute;
    transform: translate(-50% , -50%);
    width: 30%;
    height: 70%;
    padding: 130px 0;
    box-sizing: border-box;
}
#main_sec01{
    left: 23%;
    top: 50%;
    color: #000;
}
#main_sec02{
    right: 0%;
    top: 50%;
    color: #fff;
}
#main_sec03{
    left: 23%;
    top: 50%;
    color: #000;
}
#main_sec04{
    right: 0%;
    top: 50%;
    color: #000;
}
.main_box > h2{
    font-weight: 300;
    font-size: 40px;
}
.main_box > .main_box_line{
    display: block;
    margin-top: 30px;
    width: 15%;
    height: 1px;
    background: #000; 
}
.main_box > #line02{
    background: #fff; 
}
.main_box > span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}
.main_box > .main_box_txt{
    display: block;
    color: #707070;
    font-size: 17px;
    margin-top: 30px;
}
.main_box > #txt_sec02{
    color: #fff;
}
.main_box > #txt_sec03{
    width: 466px;
}
.main_box > .main_box_box a{
    display: inline-block;
    width: 188px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #202023;
    color: #202023;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
}
.main_box > .main_box_box a:hover{
    background: #002f6c;
    border-color: #002f6c;
    color: #fff;
}
.main_box > #box_box_sec02 a{
    border: 1px solid #fff;
    color: #fff;
}
.main_box > #box_box_sec02 a:hover{
    background: #fff;
    color: #202023;;
}
footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #262626;
}
footer > #fot_ul{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #464646;
    text-align: center;
}
footer > #fot_ul > li{
    display: inline-block;
    color: #818181;
    padding: 0px 16px;
    font-size: 13px;
}
footer > #fot_logo{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50% , -50%);
    width: 275px;
    height: 50px;
    background: url('../img/foo_log.png') no-repeat center;
}
footer > #fot_p01{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50% , -50%);
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 14px;
    font-size: 12px;
    color: #6c6c6c;
    text-align: center;
}
footer > #fot_p01 > span{
    display: inline-block;
    margin-left: 10px;
    padding-top: 5px; 
}
footer > #fot_p02{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50% , -50%);
    font-size: 12px;
    font-weight: 700;
    color: #6c6c6c;
}