

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h2, p  {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.contents_area {

    min-width: 300px;
    max-width: 768px;
;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;

    margin: 0 auto;
    position: relative;
}

/* -------------------------------------- 탑버튼 */
.top_btn {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #c1c1c199;
    border: 2px solid #ffa705;;
    border-radius: 50%;

    overflow: hidden;

    transform: rotate(90deg);
    font-size: 20px;
    color: #ffa705;
    font-weight: 700;

    position: fixed;
    bottom: 30px ;
    right: 30px;
    z-index: 9999;

    transition: all 0.5s;

    display: none;
}
.top_name {
    color: #ffa705;
}
.top_btn a {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

/* -------------------------------------- 탑배너 */
.top_banner {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #444;
    position: relative;
    overflow: hidden;
}
.top_banner_txt {
    width: 300px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}
.top_banner_close {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 10px;
}

/* -------------------------------------- 헤더 */

.header {
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #fdfbed;
    border-bottom: 1px solid #ffa705;
    box-sizing: border-box;
    z-index: 9999;
}
.header_move {
    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    width: 300px;
    height: 100%;
    background: url(../img/logo.png) no-repeat center / contain;
    float: left;
}
.logo a {
    width: 100%;
    height: 100%;
    display: block;

    text-indent: -9999px;
}
.hamburger {
    width: 40px;
    height: 40px;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    float: right;
}
.ham_line {
    width: 100%;
    height: 4px;
    background: #222;
}
.ham_line:nth-child(2) {
    margin: 4px 0;

}

/* ----------------------햄판 */
.ham_pan {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    pointer-events: none;
    transition: all 0.3s;
}
.ham_pan_active {
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    transition: background 0.3s;
}
.ham_menu {
    width: 100%;
    max-width: 320px;
    height: 100vh;
    background: #fcc55f;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    transition: all 0.3s;
}
.ham_menu_active {
    transform: translateX(0);
    transition: all 0.3s;
}

.ham_logo {
    width: 200px;
    height: 50px;
    background: url(../img/logo.png) no-repeat center / contain;
}
.ham_logo a {
    width: 100%;
    height: 100%;
    display: block;

    text-indent: -9999px;
}
.ham_close {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #222;
    color: #fff;    
    
    position: absolute;
    top: 50px;
    left: 100%;

    display: none;
}

/* 마이메뉴 */
.my_menu {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
.my_menu_li {
    width: calc((100% - 10px)/2);
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #222;
    padding: 5px 0;

    float: left;
    margin-right: 10px;
}
.my_menu_li:last-child {
    margin-right: 0;
}
/* 서치 */
.search {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;

}
.search_txt {
    width: 210px;
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: #444;
    font-weight: 500;
}
.search_icon {
    width: 40px;
    height: 40px;
    background: url(../img/icon/search.png) no-repeat center / 50%;
}
/* 햄버거 메뉴  */

.nav_ul {
    margin-top: 20px;
}
.nav_li {
    font-weight: 700;
    margin: 15px 0;
    transition: all 0.5s;
}

.menu_box {
    margin: 15px 0;
    padding: 10px;
    background: #ddd;

    display: none;
}

.menu_box_li {
    font-size: 14px;
    font-weight: 300;
    margin: 12px 0;
}

/* 〉 버튼 */
.h_add_sub_btn {
    width: 24px;
    height: 24px;
    text-align: center;
    float: right;

    transform: rotate(90deg) translateX(4px);
    transition: all 0.3s;
}
.h_add_sub_btn_active {
    transform: rotate(270deg) translateX(4px);
    transition: all 0.3s;
}


/* -------------------------------------- 푸터 */
.footer {
    width: 100%;
    height: auto;
    background: #222;

    color: #bfbfbf;
    font-size: 12px;
    font-weight: 100;

    margin-top: 50px;
    padding: 30px 0;
    box-sizing: border-box;
    overflow: hidden;

    word-break: keep-all;
}
.footer_box {
    height: 100%;
}
.logo_img {
    width: 250px;
    height: 50px;
    background: url(../img/logo_w.png) no-repeat left / contain;
    margin-bottom: 20px;
}
.logo_img img {
    width: 100%;
}
.customer_service,
.bank_account {
    width: 50%;
    min-height: 200px;
    float: left;
}

.regal {
    width: 40%;
    min-height: 200px;
    float: left;
}
.official_sns {
    width: 60%;
    min-height: 200px;
    float: left;
}

.footer_title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer_title span {
    padding-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
}
.footer_p {
    margin: 8px 0;
}
.m_add {
    margin: 20px 0;
    color: #fff;
}
.footer_color_red {
    color: #f59191;
}


/* ------------------------------------------------------- 미디어 쿼리 */


@media screen and (max-width: 480px) {
    .logo {
        width: 200px;
    }
}


