
.container {
    margin-top: 90px;
}
/* main banner */
.main_banner {
    position: relative;
    width: 100%;
    height: 850px;
}
.slide_container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.slide_img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    overflow: hidden;
}
.slide_img > img {
    height: 100%;
}
.main_txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
}
.main_txt > p:nth-child(1) {
    font-family: 'font_B';
    font-size: 80px;
    margin-bottom: 15px;
}
.main_txt > p:nth-child(2) {
    font-family: 'font_M';
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
.slide_container > a:nth-child(4) > div {
    color: #000;
}
.slide_btn {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}
.slide_btn_L {
    background: url(../img/firstpage/icon/slide_l.png) no-repeat center / contain;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.slide_btn_R {
    background: url(../img/firstpage/icon/slide_r.png) no-repeat center / contain;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.indicator_box {    
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.indicator {
    width: 40px;
    height: 40px;
    background: url(../img/firstpage/icon/slide_heart.png) no-repeat center / contain;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}

.indicator_on {
    width: 40px;
    height: 40px;
    background: url(../img/firstpage/icon/slide_heart_color.png) no-repeat center / contain;
    float: left;
}


/* new arrival */
.arrival {
    width: 100%;
    height: auto;
    margin-top: 40px;
    user-select: none;
}
.title {
    text-align: center;
    font-size: 30px;
    font-family: 'font_B';
    font-weight: 900;
    color: red;
}
.arrival_container {
    height: 580px;
    position: relative;
    overflow: hidden;
}
.arrival_tmp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
}

.arrival_sec {
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
}

.arrival_L {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    position: relative;
}
.L_inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.L_inner > img {
    margin-bottom: 30px;
}

.arrival_txt > h3 {
    font-weight: 900;
    font-family: 'font_M';
}
.arrival_txt > p {
    font-family: 'font_M';
}

.arrival_txt > p:nth-of-type(1) {
    margin-top: 30px;
}
.view_btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    border: 2px solid;
    margin-top: 30px;
}
.view_btn > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    font-family: 'font_B';
}
.view_btn > a:hover {
    background: red;
    color: #fff;
}


.arrival_M {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    position: relative;
}
.arrival_M > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.arrival_M > img:nth-child(2) {
    display: none;
}

.arrival_M:hover img:nth-child(2) {
    display: block;
}

.arrival_R {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    text-align: right;
    position: relative;
}
.R_inner {
    margin-top:70%;
}

.arrival_color {
    display: inline-block;
    height: 100px;
    margin-bottom: 30px;
}
.color_img {
    height: 100%;
    float: left;
}
.color_img > img {
    height: 100%;
    float: left;
    margin-left: 10px;
}
.scale_img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.5);
}
.line {
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line:nth-child(2) {
    transform: rotate(90deg);
    top: 49%;
    left: 42%;
}
.arrival_scale {
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 52%;
    right: 0;
    background: gray;
    display: none;
    overflow: hidden;
    border-radius: 10px;
}

.arrival_txt > h4 {
    margin-top: 10px;
}
.arrival_txt > h4:last-child {
    color: red;
}

.arrival_btn {
    position: absolute;
    top: 50%;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}
.arrival_btn_L {
    left: 0;
}

.arrival_btn_R {
    right: 0;
}

.arrival_indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.a_indicator {
    width: 10px;
    height: 10px;
    border: 1px solid red;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    cursor: pointer;
}
.a_indicator_active {
    background: red;
}

/* shop this look */
.look {
    margin-top: 30px;
    width: 100%;
    height: 1050px;
    background: #fafafa;
}
.look_title {
    padding: 40px 0;
}
.inner_look {
    width: 100%;
    overflow: hidden;
}
.inner_look > img {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.look_tmp {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.look_contents {
    width: 100%;
    overflow: hidden;
    max-width: 1600px;
    min-width: 1200px;
    margin: 0 auto;
}
.look_sec {
    width: calc((100% - (20px * 3))/ 4);
    height: calc(100vw / 4);
    min-height: 300px;
    float: left;
    margin-left: 20px;
}
.look_sec:first-child {
    margin-left: 0;
}
.sec_box {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}
.sec_box > img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.sec_box > img:nth-child(2) {
    opacity: 0;
}
.sec_box:hover img:nth-child(2) {
    opacity: 1;
}
.look_txt {
    width: 100%;
    height: 20%;
    margin-top: 10px;
    text-align: center;
}
.look_txt > p:nth-child(1) {
    font-family: 'font_B';
    font-size: 18px;
}
.look_txt > p:nth-child(2) {
    font-weight: 600;
    font-size: 14px;
    margin-top: 6px;
}


/* panini */

.panini {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

.panini_tmp {
    width: 100%;
    height: 580px;
    position: relative;
}

.panini_sec {
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
}

.panini_L,
.panini_M,
.panini_R {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    position: relative;
}
.p_L_inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.p_L_inner > img {
    margin-bottom: 30px;
}

.panini_txt > h3 {
    font-weight: 900;
    font-family: 'font_M';
}
.panini_txt > p {
    font-family: 'font_M';
}

.panini_txt > p:nth-of-type(1) {
    margin-top: 30px;
}
.panini_M {
    height: 540px;
    overflow: hidden;
}
.panini_M > img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.panini_M > img:nth-child(2) {
    display: none;
}
.panini_M:hover > img:nth-child(2) {
    display: block;
}

.panini_R {
    float: left;
    position: relative;
}
.p_R_inner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.p_color_img {
    float: left;
    width: calc((100% - (2px * 3)) / 4);
    margin-right: 2px;
    cursor: pointer;
}
.p_color_img > img {
    width: 100%;
}
.p_color_img:nth-child(4n) {
    margin-right: 0;
}

.panini_color {
    overflow: hidden;
}
.p_color_img > img {
    height: 100%;
}
.panini_txt {
    width: 100%;
}

.panini_txt_R {
    margin-top: 20px;
    text-align: right;
}
.panini_txt_R > h4 {
    margin-top: 20px;
}
/* pick */
.pick {
    width: 100%;
    padding: 30px 0;
    margin-top: 20px;
    background: url(../img/firstpage/pick/bg.png) no-repeat center / cover;
    background-attachment: fixed;
    position: relative;
}
.pick > .title {
    color: #fff;
}
.inner_pick {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.pick_item {
    width: calc((100% - (20px * 2)) / 3);
    height: 100%;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 20px;
}
.pick_item:nth-child(3n) {
    margin-right: 0;
}
.pick_img {
    width: 100%;
    height: 100%;
    background: url(../img/firstpage/pick/pick_1.jpg) no-repeat center / cover;
    position: relative;
}
.circle {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}
.inner_cc {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: circle_move 0.8s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes circle_move {
    0% {width: 15px; height: 15px;}
    20% { background: rgba(255,255,255,0.7);}
    40% { background: rgba(255,255,255,0.6);}
    60% { background: rgba(255,255,255,0.4);}
    80% { background: rgba(255,255,255,0.2);}
    100% {width: 30px; height: 30px; background: rgba(255,255,255,0.0);}
}


.pick_item:nth-child(1) > a > div > div {
    top: 58%;
    left: 46%;
}

.pick_item:nth-child(2) > a > div > div {
    top: 63%;
    left: 65%;
}
.pick_item:nth-child(3) > a > div > div {
    top: 50%;
    left: 40%;
}

.pick_item:nth-child(4) > a > div > div {
    top: 39%;
    left: 50%;
}

.pick_item:nth-child(5) > a > div > div {
    top: 54%;
    left: 40%;
}
.pick_item:nth-child(6) > a > div > div {
    top: 68%;
    left: 67%;
}
.pick_item:nth-child(7) > a > div > div {
    top: 82%;
    left: 69%;
}
.pick_item:nth-child(8) > a > div > div {
    top: 85%;
    left: 80%;
}


.pick_btn, .rank_btn {
    position: absolute;
    width: 50px;
    height: 100%;
    font-size: 50px;
    color: #fff;
    line-height: 700px;
    cursor: pointer;
    transition: all 0.3s;
}
.pick_btn:hover {
    background: rgba(0,0,0,0.3);
}

.pick_btn_L, .rank_btn_L {
    top: 0;
    left: 0;
    user-select: none;
}
.pick_btn_R, .rank_btn_R {
    top: 0;
    right: 0;
    user-select: none;
}

/* ranking */
.ranking {
    margin-top: 30px;
}
.rank_inner {
    width: 100%;
    max-width: 1600px;
    min-width: 1200px;
    height: 360px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.rank_item {
    width: calc((100% - (20px * 3))/ 4);
    height: calc(100vw / 4);
    height:100%;
    float: left;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.rank_img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}
.rank_num {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 10px;
    background: rgba(0,0,0,0.7);
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.rank_txt {
    width: 100%;
    height: 20%;
    text-align: center;
}
.rank_txt > div {
    font-family: 'font_M';
    margin-top: 12px;
    font-weight: 900;
    font-size: 14px;
}
.rank_btn {
    width: 50px;
    height: 50px;
    line-height: 55px;
    top: 40%;
    transform: translateY(-50%);
    text-align: left;
    background: none;
    border-radius: 10px;
    color: rgba(255, 0, 0, 0.7);
    font-family: 'font_B';
}
.rank_btn_L {
    z-index: -999;
}

/* life */

.life {
    width: 100%;
    height: 870px;
    margin-top: 30px;

    background: url(../img/firstpage/life/bg.png) no-repeat center / cover;
    background-attachment: fixed;
}
.life > .title {
    color: #fff;
    padding: 50px 0;
}
.link_txt {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}
.link_txt > a {
    color: #fff;
    font-family: 'font_M';
    font-weight: 600;
}
.life_container {
    max-width: 1600px;
    overflow: hidden;
    margin: 0 auto;
}
.life_sec {
    width: calc((100% - (20px * 2)) / 3);
    margin-right: 20px;
    float: left;
}
.life_sec:last-child {
    margin-right: 0;
}
.life_sec > a > img {
    width: 100%;
}
.life_txt {
    margin: 20px 0;
    margin-bottom: 40px;
    font-family: 'font_M';
    font-weight: 400;
    color: #fff;
}
.life_btn {
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}
.life_btn a {
    color: #fff;
    font-family: 'font_B';
}
.life_btn:hover {
    background: red;
    cursor: pointer;
}

