@font-face {
  font-family: 'NIXGONFONTS L 2.0';
  src: url('NIXGONFONTS L 2.0.eot');
  src: url('NIXGONFONTS L 2.0.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NIXGONL-Vb';
  src: url('NIXGONL-Vb.ttf') format('truetype'),
       url('NIXGONL-Vb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

