@font-face {
  font-family: 'NIXGONB-Vb';
  src: url('NIXGONB-Vb.ttf') format('truetype'),
       url('NIXGONB-Vb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NIXGONFONTS B 2.0';
  src: url('NIXGONFONTS B 2.0.eot');
  src: url('NIXGONFONTS B 2.0.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

